.App-header {
  background-color: #222;
  height: 75px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.vertical-align {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.addcomment {
  border-width: 2px;
  border-radius: 24px;
  border-style: solid;
  margin-top: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.form-title-label {
  font-size: 24px;
}

.post {
  border-width: 2px;
  border-radius: 24px;
  border-style: solid;
  margin-top: 5px;
  margin-bottom: 5px;
}

.post:hover {
  border-color: #0066cc;
}

.post-voteScore {
  font-size: 22px;
  text-align: center;
  line-height: 1 !important;
}

.post-editDelete {
  font-size: 22px;
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.comment {
  border-width: 2px;
  border-radius: 24px;
  border-style: solid;
  margin-top: 5px;
  margin-bottom: 5px;
}

.comment-voteScore {
  font-size: 16px;
  text-align: center;
  line-height: 1 !important;
}

.submitButton {
  margin-top: 10px;
}